.wrapper {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    gap: 1rem;
    justify-content: center;
}

.chat {
    width: 800px;
    height: 1080px;
    border-width: 2px;      /* Sets the width of the border */
    border-style: solid;    /* Sets the style of the border */
    border-color: red;     /* Sets the color of the border */
    
}

.lobby {
    width: 640px;
    height: 1080px;
    border-width: 2px;      /* Sets the width of the border */
    border-style: solid;    /* Sets the style of the border */
    border-color: blue;     /* Sets the color of the border */
}