.PotentialChats {
    margin-top: 0.3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    width: auto;
    height: 80px;
    text-align: center;
}
.title { 
  text-align: start;
  color: black;
  font-weight: 400;
  font-size: medium;
}

.title > svg {
  margin-right: 0.4rem;
}

.all-users {
    /* background-color: aqua; */
    display:flex;
    flex-direction: row;
    gap: 0.2rem;
    max-height: fit-content;
}

.single-user {
    background-color: black;
    width: fit-content;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    cursor:default;
    color: white;
    border-radius: 0.6rem;
}

.single-user > svg {
  margin-right: 0.4rem;
}

.single-user:hover {
    background-color: rgb(49, 49, 49);
}

.horizontal-stack {
  display: flex;                /* Use flexbox for layout */
  gap: 16px;                   /* Space between items (adjust as needed) */
  align-items: flex-start;     /* Align items to the start vertically */
}

.messages-box {
  flex-grow: 0;              /* Prevents the box from growing */
  padding-right: 1rem;      /* Equivalent to Bootstrap's 'pe-3' (3 units of padding) */
}