.chat-box {
	/* הקופסה של הצ'אט */
	gap: 1rem; /* מרווחים בין אלמנטים */
	min-width: 27rem;
	max-height: 600px; /* גובה מקסימלי של הצ'אט */
	border-color: black;
	border-width: 1px;
	border-style: solid;
	display: flex;
	flex-direction: column; /* הערמת אלמנטים אנכית */
	border-radius: 1rem;
	padding: 0.6rem;
}
.chat-header{
	align-self: start;
	margin-left: 0.3rem;
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	overflow-y: auto; /* גלילה אנכית במידת הצורך */
	height: 400px; /* גובה קבוע של ההודעות */
	max-height: 100%; /* מגביל את גובה התוכן */
}

.message {
	padding: 0.5rem;
	border-radius: 10px 10px 10px 0px;
	display: flex;
	flex-direction: column;
	box-shadow: -2px 4px 6px #2c2c2c54;
}

.message-footer{
	font-size: small;
}

.self {
	background-color: #2c2c2c; /* צבע רקע להודעות שנשלחו */
	align-self: flex-end; /* מיקום ההודעות שנשלחו */
	color: white;
	border-radius: 10px 10px 0px 10px;
	box-shadow: 2px 4px 6px #2c2c2c54;
}

.msgInBubble{
	text-align: start;
}

.align-self-start {
	background-color: #eeeeee; /* צבע רקע להודעות שהתקבלו */
	align-self: flex-start; /* מיקום ההודעות שהתקבלו */
}

.chat-input {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	min-width: 20rem;
}

.send-btn {
	background-color: rgb(0, 157, 255);
	border: none;
	cursor: pointer;
	color: white;
	width: 46px;
	height: 40px;
	border-radius: 3rem;
	align-self: center;
	margin-right: 1rem;
}
