.chat-box {
	/* הקופסה של הצ'אט */
	gap: 1rem; /* מרווחים בין אלמנטים */
	min-width: 30rem;
	max-height: 600px; /* גובה מקסימלי של הצ'אט */
	border-color: orange;
	border-width: 1px;
	border-style: solid;
	display: flex;
	flex-direction: column; /* הערמת אלמנטים אנכית */
}

.messages {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	overflow-y: auto; /* גלילה אנכית במידת הצורך */
	height: 400px; /* גובה קבוע של ההודעות */
	max-height: 100%; /* מגביל את גובה התוכן */
}

.message {
	padding: 0.5rem;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.self {
	background-color: #d1e7dd; /* צבע רקע להודעות שנשלחו */
	align-self: flex-end; /* מיקום ההודעות שנשלחו */
}

.align-self-start {
	background-color: #f8d7da; /* צבע רקע להודעות שהתקבלו */
	align-self: flex-start; /* מיקום ההודעות שהתקבלו */
}

.chat-input {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	min-width: 20rem;
}

.send-btn {
	background-color: rgb(0, 157, 255);
	border: none;
	cursor: pointer;
	color: white;
	width: 46px;
	height: 40px;
	border-radius: 3rem;
	align-self: center;
	margin-right: 1rem;
}
