.user-card {
  display: flex;                  /* Use flexbox for layout */
  align-items: center;           /* Center items vertically */
  justify-content: space-between; /* Space items between edges */
  cursor: pointer;               /* Change cursor to pointer for button-like behavior */
  border: 1px solid transparent; /* Optional: Add a border for better visibility */
  border-radius: 4px;           /* Optional: Add rounded corners */
  transition: background-color 0.3s; /* Optional: Smooth background change on hover */
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  min-width: 12rem;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
}

.user-card:hover {
  background-color: #f0f0f0;    /* Optional: Change background on hover */
}

.chat-item {
  display: flex;                  /* Flexbox for layout */
  justify-content: space-between; /* Space between the two main sections */
  align-items: start;           /* Center items vertically */
  flex-direction: column;
}

.avatar-container {
  margin-right: 0.5rem;  
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.text-content {
  flex-grow: 1;
  display: flex;                  /* Allow this section to take up available space */
  justify-content: space;
}

.text{
  font-size: medium;
}
.name{
  text-align: start;
  display: flex;
  flex-direction: column;

}


.date-container {
  font-size: small;
  display: flex;                 /* Flexbox for date and notifications */
  flex-direction: column;        /* Arrange items vertically */
  align-items: flex-end;         /* Align items to the right */
  margin-left: 0.2rem;
  color: gray;
}
