.navbar {
	background-color: #161616; /* Dark background */
	margin-bottom: 1rem; /* Space below navbar */
	height: 3.75rem; /* Fixed height */
	display: flex; /* Flexbox layout */
	align-items: center; /* Center items vertically */
	padding-left: 5rem;
	padding-right: 5rem;
}

.container {
	display: flex; /* Flexbox layout */
	justify-content: space-between; /* Space between items */
	width: 100%; /* Full width */
	padding: 0 1rem; /* Horizontal padding */
}

.navbar-title {
	margin: 0; /* Remove default margin */
	font-size: 1.5rem;
}

.navbar-link {
	color: #f8f9fa; /* Light link color */
	text-decoration: none; /* Remove underline */
}

.navbar-link > svg {
	margin-right: 0.2rem;
}

.navbar-link:hover {
	text-decoration: underline; /* Underline on hover */
}

.navbar-user {
	color: #ffffff; /* Warning color */
	display: flex;
	gap: 0.3rem;
}
.navbar-user  > svg{
	margin-left: 1rem;
}

.navbar-nav {
	display: flex; /* Flexbox for nav items */
}

.nav-items {
	display: flex; /* Flexbox layout for nav items */
	gap: 1rem; /* Space between nav items */
}
